<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/Vibrant.min.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/circlemap.js"></script>
</head>
<body>
    
<div id="clock">
    <div class="disp">
        <span class="date">
            <span id="clock-year"></span> / 
            <span id="clock-month"></span> /
            <span id="clock-date"></span>
        </span>   
        <span id="clock-measure"></span> <small>measure</small> 
        <span id="clock-beats"></span> <small>beats</small>
    </div>
    <div class="gauge"></div>
</div>
    <canvas id="circlemap"></canvas>
    
<script>
    var map = new Circlemap({
        canvasId:"circlemap"
    });
    
    map.addBitt({
        velocity:1, //強度(まだ未使用)
        translate:{x:0,y:0+150}, //画面中心位置からのトランスレート
        scale:1, //拡大(0-1のfloat)
        props:{
          icon:"images/01.jpg" //アイコン画像 
        },
        timeshift:0, //タイミングボールの位置をずらす(0-1 float)
        waveform:[8.66,-2.44,4.82,-7.36,0.19,-4.65,-9.55,-7.2,-4.1,-0.5,-9.26,9.13,-4.42,11.61,-6.74,-4.64,2.53,4.97,4.03,-4.97,-6.71,-4.04,-0.66,-3.17,0.18,1.22,-10.27,4.23,6.76,10.04,4.88,-10.34,-7.92,-9.39,5.95,6.64,-8.54,7.76,-4.68,-11.77,7.96,1.69,-0.12,-0.55,-5.13,-6.32,10.2,7.22,4.26,-4.13,-9.83,11.05,0.93,-5.57,-1,4.8,7.95,0.88,1.95,-11.69,7.45,-6.59,10.94,8.93,-7.53,1.03,1.28,0.59,3.79,11.14,-9.78,9.62,-2.03,-3.19,3.44,6.7,5.14,-3.94,-7.03,3.57,2.51],
        
        //以下はタッチ時のイベント。オプションなので不要な場合はそのまま削除。
        onclick:function(arg){
            
        },
        onmousedown:function(arg){
            
        },
        onmouseup:function(arg){
            
        }
    });
    map.addBitt({
        velocity:1,
        translate:{x:250*(-1),y:0+150},
        scale:1,
        props:{
          icon:"images/02.jpg"  
        },
        timeshift:0.8,
        waveform:[8.66,-2.44,4.82,-7.36,0.19,-4.65,-9.55,-7.2,-4.1,-0.5,-9.26,9.13,-4.42,11.61,-6.74,-4.64,2.53,4.97,4.03,-4.97,-6.71,-4.04,-0.66,-3.17,0.18,1.22,-10.27,4.23,6.76,10.04,4.88,-10.34,-7.92,-9.39,5.95,6.64,-8.54,7.76,-4.68,-11.77,7.96,1.69,-0.12,-0.55,-5.13,-6.32,10.2,7.22,4.26,-4.13,-9.83,11.05,0.93,-5.57,-1,4.8,7.95,0.88,1.95,-11.69,7.45,-6.59,10.94,8.93,-7.53,1.03,1.28,0.59,3.79,11.14,-9.78,9.62,-2.03,-3.19,3.44,6.7,5.14,-3.94,-7.03,3.57,2.51],
        onclick:function(arg){
            console.log(arg.props.icon);
        }
    });
    map.addBitt({
        velocity:1,
        translate:{x:250*(1),y:0+150},
        scale:1,
        props:{
          icon:"images/03.jpg"  
        },
        timeshift:0.5,
        waveform:[8.66,-2.44,4.82,-7.36,0.19,-4.65,-9.55,-7.2,-4.1,-0.5,-9.26,9.13,-4.42,11.61,-6.74,-4.64,2.53,4.97,4.03,-4.97,-6.71,-4.04,-0.66,-3.17,0.18,1.22,-10.27,4.23,6.76,10.04,4.88,-10.34,-7.92,-9.39,5.95,6.64,-8.54,7.76,-4.68,-11.77,7.96,1.69,-0.12,-0.55,-5.13,-6.32,10.2,7.22,4.26,-4.13,-9.83,11.05,0.93,-5.57,-1,4.8,7.95,0.88,1.95,-11.69,7.45,-6.59,10.94,8.93,-7.53,1.03,1.28,0.59,3.79,11.14,-9.78,9.62,-2.03,-3.19,3.44,6.7,5.14,-3.94,-7.03,3.57,2.51],
        onclick:function(arg){
            console.log(arg.props.icon);
        }
    });
    map.addBitt({
        velocity:1,
        translate:{x:0,y:0-150},
        scale:1,
        props:{
          icon:"images/04.jpg"  
        },
        timeshift:0.2,
        waveform:[8.66,-2.44,4.82,-7.36,0.19,-4.65,-9.55,-7.2,-4.1,-0.5,-9.26,9.13,-4.42,11.61,-6.74,-4.64,2.53,4.97,4.03,-4.97,-6.71,-4.04,-0.66,-3.17,0.18,1.22,-10.27,4.23,6.76,10.04,4.88,-10.34,-7.92,-9.39,5.95,6.64,-8.54,7.76,-4.68,-11.77,7.96,1.69,-0.12,-0.55,-5.13,-6.32,10.2,7.22,4.26,-4.13,-9.83,11.05,0.93,-5.57,-1,4.8,7.95,0.88,1.95,-11.69,7.45,-6.59,10.94,8.93,-7.53,1.03,1.28,0.59,3.79,11.14,-9.78,9.62,-2.03,-3.19,3.44,6.7,5.14,-3.94,-7.03,3.57,2.51],
        onclick:function(arg){
            console.log(arg.props.icon);
        }
    });
    map.addBitt({
        velocity:1,
        translate:{x:250*(-1),y:0-150},
        scale:1,
        props:{
          icon:"images/05.jpg"  
        },
        timeshift:0.16,
        waveform:[8.66,-2.44,4.82,-7.36,0.19,-4.65,-9.55,-7.2,-4.1,-0.5,-9.26,9.13,-4.42,11.61,-6.74,-4.64,2.53,4.97,4.03,-4.97,-6.71,-4.04,-0.66,-3.17,0.18,1.22,-10.27,4.23,6.76,10.04,4.88,-10.34,-7.92,-9.39,5.95,6.64,-8.54,7.76,-4.68,-11.77,7.96,1.69,-0.12,-0.55,-5.13,-6.32,10.2,7.22,4.26,-4.13,-9.83,11.05,0.93,-5.57,-1,4.8,7.95,0.88,1.95,-11.69,7.45,-6.59,10.94,8.93,-7.53,1.03,1.28,0.59,3.79,11.14,-9.78,9.62,-2.03,-3.19,3.44,6.7,5.14,-3.94,-7.03,3.57,2.51],
        onclick:function(arg){
            console.log(arg.props.icon);
        }
    });
    map.addBitt({
        velocity:1,
        translate:{x:250*(1),y:0-150},
        scale:1,
        props:{
          icon:"images/06.jpg"  
        },
        timeshift:0.4,
        waveform:[8.66,-2.44,4.82,-7.36,0.19,-4.65,-9.55,-7.2,-4.1,-0.5,-9.26,9.13,-4.42,11.61,-6.74,-4.64,2.53,4.97,4.03,-4.97,-6.71,-4.04,-0.66,-3.17,0.18,1.22,-10.27,4.23,6.76,10.04,4.88,-10.34,-7.92,-9.39,5.95,6.64,-8.54,7.76,-4.68,-11.77,7.96,1.69,-0.12,-0.55,-5.13,-6.32,10.2,7.22,4.26,-4.13,-9.83,11.05,0.93,-5.57,-1,4.8,7.95,0.88,1.95,-11.69,7.45,-6.59,10.94,8.93,-7.53,1.03,1.28,0.59,3.79,11.14,-9.78,9.62,-2.03,-3.19,3.44,6.7,5.14,-3.94,-7.03,3.57,2.51],
        onclick:function(arg){
            console.log(arg.props.icon);
        }
    });
    
    $(function(){
        var sonoMeasure = new SonoMeasure();
        
        var $clockYear = $("#clock-year"); 
        var $clockMonth = $("#clock-month");
        var $clockDate = $("#clock-date");  
        var $clockMeasure = $("#clock-measure");
        var $clockBeats = $("#clock-beats");
        var $clockGauge = $("#clock > .gauge");
        
        setInterval(function(){
            var now = sonoMeasure.getCurrentBeats();
            
            $clockYear.text(now.year);
            $clockMonth.text(now.month);
            $clockDate.text(now.date);
            $clockMeasure.text(now.measure);
            $clockBeats.text(now.beat);
            $clockGauge.css("width",now.position*100+"%");
	        
        },1000/30);     
    });
</script>
</body>
</html>