body,html {
        width:100%;
        height:100%;
        margin: 0;padding: 0;
        background-color: #000;
    }
body {
    background-image: url("/images/bg.jpg");
    background-position:center;
    background-size:cover;
    position: relative;
    
}

div {
    > .ready{
        display:none!important;
    }
}
#circlemap {
    width:100%;
    height:100%;
}
 
#clock {
    
    div.disp ,div.gauge {position: absolute;left:0;top:0;height:100%;}
    
    $height:48px;
    
    height:$height;
    line-height:$height;
    position: fixed;
    width:100%;
    bottom:0;left:0;
    background-color: rgba(3, 169, 244, 0.3);
    
    font-family: Futura , Arial, Helvetica, sans-serif;
    
    div.disp {
        font-size:24px;
        width:100%;
        text-align:center;
        color:#fff;
        
        small {
            font-size:80%;
        }
        
        .date {
            font-size:70%;
            display:inline-block;
            border:1px solid #ccc;
            line-height:1.7em;
            position: relative;
            top:-2px;
            padding:0 10px;
            border-radius:4px;
            opacity:0.8;
            margin-right:0.5em;
        }
    }
    
    div.gauge {
    	   width:50%;
           background-color: rgba(3, 169, 244, 0.3);     
    }
}